@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --main-color:#ef7819;
    --black:#141215;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: var(--black);
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
}

body{
    overflow-x: hidden;
    background: var(--black);
}

section{
    padding:2rem 9%;
}

.heading{
    font-size: 4rem;
    text-align: center;
    padding-bottom: 2rem;
    color:#fff;
}

.heading span{
    color:var(--main-color);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    background:#fff;
    font-weight: 500;
    color:var(--black);
    cursor: pointer;
}

.btn:hover{
    background: var(--main-color);
    color:#fff;
    letter-spacing: .1rem;
}

.header{
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
    background: rgba(0,0,0,.3);
    padding:3rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo{
    font-size: 2.5rem;
    color:#fff;
    font-weight: bolder;
}

.header .logo i{
    padding-right: .5rem;
    color:var(--main-color);
    animation: floating 3s linear infinite;
}

@keyframes floating{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-1rem);
    }
}

.header .navbar a{
    font-size: 1.7rem;
    color:#fff;
    margin:0 1rem;
}

.header .navbar a.active,
.header .navbar a:hover{
    color:var(--main-color);
}

.header .icons a,
.header .icons div{
    font-size: 2.5rem;
    color:#fff;
    margin-left: 2rem;
    cursor: pointer;
}

.header .icons a:hover,
.header .icons div:hover{
    color:var(--main-color);
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top:115%; right:-105%;
    background: #fff;
    width:50rem;
    height:5rem;
    display: flex;
    align-items: center;
    opacity: 0;
}

.header .search-form.active{
    right:2rem;
    opacity: 1;
    transition: .4s linear;
}

.header .search-form input{
    width:100%;
    padding:0 1.5rem;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
}

.header .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .search-form label:hover{
    color:var(--main-color);
}

.header.active{
    padding:2rem 9%;
    background: #222;
}

.home{
    padding:0;
}

.home .home-slider .box{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:2rem;
    background-size: cover !important;
    background-position: center !important;
}

.home .home-slider .box .content{
    text-align: center;
}

.home .home-slider .box .content h3{
    font-size: 5rem;
    color:#fff;
    transition-delay: .2s;
}

.home .home-slider .box .content p{
    font-size: 3rem;
    color:#fff;
    transition-delay: .4s;
    padding:1rem 0;
}

.home .home-slider .box .content .button{
    transition-delay: .6s;
}

.home .home-slider .box .content > *{
    transform: translateY(2rem);
    opacity: 0;
}

.home .home-slider .swiper-slide-active .content > *{
    transform: translateY(0rem);
    opacity: 1;
}

.home .home-slider .swiper-button-next{
    right: 4rem;
    color:#fff;
    opacity: 0;
}

.home .home-slider .swiper-button-prev{
    left: 4rem;
    color:#fff;
    opacity: 0;
}

.home .home-slider .swiper-button-next:hover,
.home .home-slider .swiper-button-prev:hover{
    color:var(--main-color);
}

.home .home-slider:hover .swiper-button-next,
.home .home-slider:hover .swiper-button-prev{
    opacity: 1;
}



.about{
    background: url(../image/about-bt.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.about .content{
    padding:13rem 0;
    max-width: 50rem;
}

.about .content h3{
    font-size: 3rem;
    color:var(--main-color);
}

.about .content p{
    font-size: 1.5rem;
    color:#fff;
    line-height: 2;
    padding: 1rem 0;
}


  
  
  
  .steps {
    background: #cae8e3;
  }
  
  .steps .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.5rem;
  }
  
  .steps .box-container .box {
    text-align: center;
    padding: 3rem 2rem;
  }
  
  .steps .box-container .box img {
    height: 20rem;
  }
  
  .steps .box-container .box h3 {
    font-size: 2.2rem;
    padding: 2rem 0;
  }
  
  .steps .box-container .box p {
    font-size: 1.7rem;
    line-height: 2;
    padding-bottom: 1rem;
  }

  .features{
      background-color: #cae8e3;
  }
  .features .heading .h1{
    color: black;
  }
  .features .box-container .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 60vh;
    margin-bottom: 3rem;
  }
  
  .features .box-container .box:last-child {
    margin-bottom: 0;
  }
  
  .features .box-container .box:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse wrap;
            flex-flow: row-reverse wrap;
  }
  
  .features .box-container .box .image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;
  }
  
  .features .box-container .box .image img {
    width: 100%;
  }
  
  .features .box-container .box .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;
  }
  
  .features .box-container .box .content h3 {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  .features .box-container .box .content p {
    padding: 1.5rem 0;
    line-height: 2;
    font-size: 1.7rem;
  }
  
  .reviews{
    background-color: #cae8e3;
}
  .reviews .slide-container .slide {
    text-align: center;
    max-width: 60rem;
    margin: 1rem auto;
    display: none;
  }
  
  .reviews .slide-container .slide.active {
    display: block;
  }
  
  .reviews .slide-container .slide img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-animation: fadeUp .2s linear backwards;
            animation: fadeUp .2s linear backwards;
  }
  
  .reviews .slide-container .slide P {
    padding: 1.5rem 0;
    font-size: 2rem;
    line-height: 2;
    -webkit-animation: fadeUp .2s linear .4s backwards;
            animation: fadeUp .2s linear .4s backwards;
  }
  
  .reviews .slide-container .slide h3 {
    padding-bottom: .7rem;
    font-size: 2rem;
    -webkit-animation: fadeUp .2s linear .6s backwards;
            animation: fadeUp .2s linear .6s backwards;
  }
  
  .reviews .slide-container .slide span {
    display: block;
    font-size: 1.7rem;
    -webkit-animation: fadeUp .2s linear .8s backwards;
            animation: fadeUp .2s linear .8s backwards;
  }
  
  .reviews .controls {
    text-align: center;
    margin-top: 2rem;
  }
  
  .reviews .controls div {
    font-size: 5rem;
    cursor: pointer;
    margin: 0 1rem;
  }
  
  .reviews .controls div:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  
  .faq {
    background: #cae8e3;
  }
  
  .faq .accordion-container {
    margin: 1rem auto;
    max-width: 70rem;
  }
  
  .faq .accordion-container .accordion {
    margin: 1rem 0;
    background-color: #fff;
    border-radius: .5rem;
  }
  
  .faq .accordion-container .accordion.active .accordion-heading i {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  
  .faq .accordion-container .accordion.active .accordion-content {
    display: block;
  }
  
  .faq .accordion-container .accordion .accordion-heading {
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 1rem;
    cursor: pointer;
  }
  
  .faq .accordion-container .accordion .accordion-heading h3 {
    font-size: 2.2rem;
    line-height: 1.5;
  }
  
  .faq .accordion-container .accordion .accordion-heading i {
    font-size: 2rem;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  
  .faq .accordion-container .accordion .accordion-content {
    padding: 2rem;
    padding-top: 0;
    line-height: 2;
    font-size: 1.7rem;
    display: none;
    -webkit-animation: fadeUp .2s linear backwards;
            animation: fadeUp .2s linear backwards;
  }
  .newsletter {
    background: #cae8e3;
  }
  .newsletter .content {
    text-align: center;
    max-width: 60rem;
    margin: 1rem auto;
  }
  
  .newsletter .content h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .newsletter .content p {
    padding: 1rem 0;
    line-height: 2;
    font-size: 1.7rem;
  }
  
  .newsletter .content p a {
    color: #000;
  }
  
  .newsletter .content p a:hover {
    text-decoration: underline;
  }
  
  .newsletter .content form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 0.2rem solid #000;
    border-radius: .5rem;
    padding: .5rem;
    margin: 1rem 0;
  }
  
  .newsletter .content form .email {
    width: 100%;
    padding: 1rem 1.4rem;
    font-size: 1.7rem;
    text-transform: none;
  }
  
  .newsletter .content form .btn {
    margin-top: 0;
  }

  .contact {
    background: #8bcec3;
  }
.contact .row{
    display: flex;
    flex-wrap: wrap;
}

.contact .row .map{
    flex:1 1 42rem;
    width: 100%;
}

.contact .row form{
    flex:1 1 42rem;
    padding: 2rem;
    text-align: center;
    background:#222;
}

.contact .row form h3{
    font-size: 3rem;
    padding-bottom: 1rem;
    color:var(--main-color);
}

.contact .row form .box{
    width:100%;
    padding:1rem 1.2rem;
    background:var(--black);
    color:#fff;
    font-size: 1.6rem;
    text-transform: none;
    margin: .7rem 0;
}

.contact .row form textarea{
    height:15rem;
    resize: none;
}

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.blogs .box-container .box .image{
    height:25rem;
    width:100%;
    overflow: hidden;
}

.blogs .box-container .box .image img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}

.blogs .box-container .box .content{
    padding:2rem;
    background: #222;
}

.blogs .box-container .box .content h3{
    font-size: 2.5rem;
    color:var(--main-color);
    line-height: 1.8;
}

.blogs .box-container .box .content p{
    font-size: 1.5rem;
    color:#fff;
    line-height: 2;
}

.blogs .box-container .box .content .icons{
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: .1rem solid #fff3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blogs .box-container .box .content .icons a{
    font-size: 1.4rem;
    color:var(--main-color);
}

.blogs .box-container .box .content .icons a:hover{
    color:#fff;
}

.blogs .box-container .box .content .icons a i{
    padding-right: .5rem;
}

.footer{
    background: #000;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    color:#fff;
    padding:1rem 0;
}

.footer .box-container .box a{
    font-size: 1.4rem;
    color:#aaa;
    padding:1rem 0;
    display: block;
}

.footer .box-container .box a:hover{
    color:var(--main-color);
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--main-color);
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
    color:#fff;
}

.footer .credit{
    padding:1rem;
    padding-top: 2.5rem;
    margin-top: 2.5rem;
    border-top:.1rem solid #fff3;
    font-size: 2rem;
    color:#aaa;
    text-align: center;
}

.footer .credit span{
    color:var(--main-color);
}




















/* media queries  */

@media (max-width:991px){

    html{
        font-size:55%;
    }

    .header{
        padding:2rem;
    }

    .header.active{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .search-form{
        width:90%;
    }

    .header .navbar{
        position: absolute;
        top:99%; left:0; right:0;
        background:#222;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar a{
        display: block;
        margin:2rem;
        font-size: 2rem;
    }

}

@media (max-width:450px){

    html{
        font-size:50%;
    }

    .home .home-slider .swiper-button-next,
    .home .home-slider .swiper-button-prev{
        display: none;
    }

}